.notespage {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
}


.notecontainer {
  display: flex;
  justify-content:center;
  flex-direction: column;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20;
 
}

li {
  margin: 0.2rem;
}

.createnote {
  display: flex;
  justify-content:center;
  position: absolute;
  top: 10%; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: fit-content;
  height: fit-content;
  border: 2px solid var(--dark-background-color);
  border-radius: 0.6rem;
}

.button {
  text-decoration: none;
  color: var(--text-color);
  position: fixed;
  top: 1%;
  right: 1%;
  font-size: 2rem;
  background-color: var(--light-background-color);
  border-radius: 0.2rem;
  
}

@media screen and (min-width: 768px) {
  .notespage{
    position: relative;
  }

  .notecontainer {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    right: 1%;
    top: 15%;
    margin: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }

  li {
    margin: 0.4rem;
  }

  .createnote {
    display: flex;
    position: absolute;
    top: 3%;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    box-shadow: 5px 5px 7px var(--text-color);
    width: fit-content;
    height: fit-content;
    border-radius: 0.6rem;
  }

  .button {
    color: var(--text-color);
      background-color: var(--light-background-color);
      box-shadow: 5px 5px 7px var(--text-color);
      padding: 1.8rem;
      font-size: 1rem;
      border-radius: 50%;
      font-weight: bold;
      text-align: center;
      position: absolute;
      top: 3%;
      left: 91%;
    
  }

 
}

