.form {
  width: 300px;
  margin: auto;
  background-color: var(--light-background-color);
  padding: 1rem;
  border-radius: 0.6rem;
  border: 1px solid var(--dark-background-color);
}

.input {
  width: 100%;
  border: none;
  padding: 4px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 1rem;
  resize: none;
  background-color: var(--light-background-color);
  font-family: "Montserrat", sans-serif;
}

.textarea {
  width: 100%;
  border: none;
  padding: 4px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 1rem;
  resize: none;
  background-color: var(--light-background-color);
  font-family: "Montserrat", sans-serif;
}

.button {
  font-size: 0.8rem;
  background-color: var(--dark-background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 0.3rem;
  padding: 3px 5px;
}

.openclose {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 1.5rem;
  border-radius: 0.6rem;
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
}

.libelleContainer {
  background-color: var(--light-background-color);
}

.modalContainer {
  font-size: 0.9rem;
  padding: 0.5rem;
}

.radio{
  margin: 0.5rem;
} 

.label{
  padding-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .form {
    width: 600px;
    margin: auto;
    background-color: var(--light-background-color);
    padding: 1rem;
    border-radius: 0.6rem;
    border: 1px solid var(--dark-background-color);
  }

  .input {
    width: 100%;
    border: none;
    padding: 4px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1rem;
    resize: none;
    background-color: var(--light-background-color);
    font-family: "Montserrat", sans-serif;
  }

  .textarea {
    width: 100%;
    border: none;
    padding: 4px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1rem;
    resize: none;
    background-color: var(--light-background-color);
    font-family: "Montserrat", sans-serif;
  }

  .button {
    font-size: 1rem;
}
}