.header {
    background-color: #002743;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}

.body {
    height: 80vh; 
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 0.9em;
    padding-top: 2em;
}

.rowcontainer {
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.brandcontainer {
    display: flex;
    flex-direction: column;
    background-color: #2187ab;
    width: 22%;
    height: 25%;
    align-items: center;
    border-radius: 2em;
}

.brandcontainer input {
    display: none
}

.brandcontainer label {
    padding-bottom: 1em;
}

.brandcontainer img {
    padding-top: 1em;
}
img {
    width : 10vw; 
}

.modeltext {
    margin-top: 1.2em;
}

select {
    width: 30vw;
    margin-top: 4em;
    height: 4vh;
    background-color: #2187ab;
    border-radius: 1em;
    padding-left: 0.5em;
}

option {
    font-size: 0.6em;
    padding-left: 1em;
}

button {
    margin-top: 2.5em;
    height: 5vh; 
    width: 20vw; 
    border-radius: 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold; 
    background-color: red;
    font-size: 1em;
    border: 0.5px;
}