.test {
  text-decoration: underline;
}

.header {
  background-color: #002743;
  height: 10vh;
  display: flex;
  justify-content: space-around;
}

.title1 {
  color: #ffcc38;
  display: flex;
  justify-content: center;
}

.title2 {
  color: #ffcc38;
  display: flex;
  justify-content: center;
}

body {
  position: relative;
}

img {
  width: 10vw;
}
