.test {
  text-decoration: underline;
}

.header {
  background-color: #002743;
  height: 10vh;
  display: flex;
  justify-content: space-around;
}

.title1 {
  display: flex;
  justify-content: center;
}

.title2 {
  display: flex;
  justify-content: center;
  margin-top: 2em;

}

.select {
  margin-top: 3em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2em;
}

.select1 {
  width: 50vw;
}


.body {
  height: 42vh;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.9em;
  padding-top: 2em;
}

img {
  width: 10vw;
}

.validate {
  margin-top: 2.5em;
  background-color: #Be2539;
}