.header {
    background-color: #002743;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}

.descriptioncontainer  {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body {
    height: 80vh; 
    font-size: 0.8em;
}

.rowcontainer {
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.rowcontainer label {
    font-size:larger
}

.checkbox {
    width: 20vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    background-color: #2187ab;
    margin-bottom: 1em;
}

.singlecheckbox {
    width: 20vw;
    height: 7vh;
    background-color: #2187ab;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    font-weight: bold;
    margin-top: 2em;
}

img {
    width : 10vw; 
}

.buttoncontainer {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}
button {
    margin-top: 2em;
    height: 5vh; 
    width: 20vw; 
    border-radius: 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold; 
    background-color: red;
    font-size: 1.2em;
    border: 0.5px;
}