.card {
  border: 1px solid black;
  width: 200px;
  padding: 1rem;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  animation-duration: 0.7s;
  animation-name: animate-fade;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-img {
  width: 100%;
  margin-bottom: 1rem;
}

.card-text {
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  color: black;
}
