.frame {
  width: 1080px;
  height: 800px;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  padding: 20px;
  font-size: 14px;
  border: none;
}

.warning {
  background-color: #df68a2;
  padding: 3px;
  border-radius: 5px;
  color: white;
}
