.voucher-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 3rem;
    margin: 1rem;
  }
  h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  p {
    margin: 0 1rem 0 1rem;
  }

  img {
    width: 70%;
    height: 100%;
    margin-bottom: 1rem;

    @media screen and (min-width: 451px) and (max-width: 961px) {
      width: 50%;
      height: 100%;
    }

    @media screen and (min-width: 961px) and (max-width: 1920px) {
      width: 30%;
      height: 100%;
    }
  }
}
