.details-container{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: lightgray;

    .details-etiquette img{
        width: 90%;
        height: auto;
    }
}