.flow {
    display: flex;

    .graph{

        overflow: hidden;

        .react-flow__edge-text{
            font-size: larger;
        }

        .react-flow__node {
            border-radius: 10px;

            &:hover{
                cursor: pointer;
            }

            .node-titre{
                text-transform: uppercase;
                font-size: 10px;
                border-bottom-width: 1px;
                border-bottom-style: solid;
            }

            .node-detail{
                padding: 10px;
            }
        }

        .react-flow__node-default{
            padding: 0;
        }
    }

    .details{
        
    }
}