.home-page-container {
  position: fixed;
  overflow: hidden;
  top : 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20vw;
  padding-top: 5rem;
  background-image: url("src/assets/BGLogo.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40%;

  h1 {
    font-size: 3rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 4rem;
  }
  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 3rem;
    button {
      margin-top: 2rem;
      font-size: 2rem;
      font-family: "Fira Sans", sans-serif;
      font-weight: 400;
      border: #002743 2px solid;
      border-radius: 50px;
      padding: 10px;
      color: #002743;
    }
    button:hover {
      color: white;
      background-color: #00acb0;
      border: #00acb0 2px solid;
    }
    button :active {
      color: white;
      background-color: #00acb0;
      border: #00acb0 2px solid;
    }
  }
  .lottie-container {
    
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;
    align-items: center;
    background-size: 70%;
    padding-top: 4rem;
    h1 {
      font-size: 2rem;
      text-align: center;
      margin: 1rem;
    }

    .buttons-container {
      gap: 1rem;

      button {
        font-size: 1.5rem;
        padding: 1rem;
      }
    }
    .lottie-container {
      justify-content: center;
    }
  }
}




