.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80vw;
  margin-left: 20vw;
  background-image: url("src/assets/logo.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  h1 {
    font-size: 3rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
  }
  button {
    font-size: 2rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    border: #002743 2px solid;
    border-radius: 50px;
    padding: 10px;
    color: #002743;
  }
  button:hover {
    color: white;
    background-color: #00acb0;
    border: #00acb0 2px solid;
  }
  button :active {
    color: white;
    background-color: #00acb0;
    border: #00acb0 2px solid;
  }
}
