.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.select-type {
  position: relative;
  margin-top: 20vh;
  border: 1px solid rgb(5, 5, 5);
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  border-radius: 5px;
  padding-right: 5px;
  background-color: #0f1014f6;
  overflow: hidden;
}
