.displayId {
  display: flex;
  gap: 2rem;
}

.CardItem_textB {
  position: absolute;
  top: 55%;
  left: 5%;
  color: white;
  text-shadow:
    -1px -1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    1px 1px 1px black;
}
