.test {
  text-decoration: underline;
}

.footer {
    background: linear-gradient(135deg, #2e3f54, #5a7290);
    height: 10vh;
    display: flex;
    justify-content: space-around;
}

img {
  width : 10vw; 
}