@import "./src/variables.scss";

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border: 1px solid $black;
  border-top: 0;

  &__imageContainer {
    display: flex;
    justify-content: center;
    width: 10rem;
  }
  &__image {
    max-height: 5rem;
    margin: auto;
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2rem;

    &__stock {
      margin: 0 auto;
    }

    &__links {
      display: flex;
      gap: 2rem;
      &__button {
        border: none;
        cursor: pointer;
        text-decoration: underline;
        background: none;
        font-size: 0.8rem;
        font-family: $font;

        &:hover {
          color: $red;
        }
      }
    }
    &__name {
      margin: auto 0;
      text-align: center;
    }
  }

  &__quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    padding: 1.5rem 1rem;
  }

  &__price {
    text-align: center;
    font-family: $fontBold;
  }
}
