@import "./src/variables.scss";

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border: 1px solid $black;
  border-top: 0;
  &__image {
    width: 5rem;
    padding: 0.5rem;
    margin-right: 2rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__button {
      border: none;
      cursor: pointer;
      text-decoration: underline;
      background: none;
      font-size: 0.8rem;
      font-family: $font;
    }
    &__name {
      margin: auto 0;
      flex: 1;
      text-align: center;
    }
  }

  &__quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    flex: 1;
  }

  &__price {
    margin: auto 0;
    flex: 1;
    text-align: center;
    font-family: $fontBold;
  }
}
