@import "./src/variables.scss";

.item__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid rgb(0, 0, 0, 0.3);
  padding: 1rem;

  &:hover {
    border: 1px solid $black;
  }
  &__label {
    font-family: $font;
    position: absolute;
    top: -40%;
    left: 10%;
    background-color: $white;
    padding: 0 0.5rem;
  }
  &__switch {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &__button {
      margin: 0 0.5rem;
      padding: 0;
      width: 2rem;
      height: 2rem;
      border: none;
      background-color: $white;
      cursor: pointer;
    }
  }
}
