.overlay{
    /* position: relative; */
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.container {
    padding: 1.5rem;
    border-radius: 0.6rem;
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 550px;
    z-index: 5;
    background-color: var(--light-background-color);
}

.input {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    outline: none;
    font-size: 1rem;
    resize: none;
    background-color: var(--light-background-color);
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
  }
  
  .textarea {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    resize: none;
    background-color: var(--light-background-color);
    font-family: "Montserrat", sans-serif;
  } 

  .button{
    font-size: 0.8rem;
    background-color: var(--dark-background-color);
    color: var(--text-color);
    border-radius: 0.3rem;
    padding: 3px 5px;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
   
    
  }

  .closebutton {
    display: flex;
    justify-content: end;
  }

  .close{
    background-color: var(--light-background-color);
    color: var(--text-color);
    font-size: 1rem;
  }



@media screen and (min-width: 768px) {
    .container {
        max-width: 500px;
        max-height: 560px;
        
    }

    .button{
        font-size: 1rem;
        
    }
}