* {
    padding: 0;
    margin: 0;
}

.sbButton {
    border: none;
    background-color: transparent;
}

.buttonDiv {
    width: 2rem;
    height: 2rem;
}

.svgSideBar {
    margin-right : 1rem;
}

.offresMenuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ps-menu-button a {
    padding: 0;
}

.lorealSVG {
    height: 2rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}