@import "./src/variables.scss";

.title {
  margin-left: 3rem;
}

.favorites {
  display: flex;
  align-items: center;
  &__list {
    // flex: 2;
    width: 60%;
    padding: 0;
    margin: 1rem;

    &__item {
      display: flex;
      list-style: none;
      width: 100%;
      &:first-child {
        border-top: 1px solid $black;
      }
    }
  }

  &__checkout {
    // flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: max-content;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid $black;

    &__title {
      font-family: $fontBold;
      font-size: 1.2rem;
    }
  }
}

del {
  margin: 0 0.5rem;
}

b {
  font-family: $fontBold;
}
