@import "../../variables.scss";

.myAccount {
  font-family: $font;
  background-color: lightgrey;
  .myAccount__header {
    width: 100vw;
    .myAccount__header__img {
      width: 100vw;
    }
    .MyAccount__title {
      background-color: pink;
    }
  }
  .myAccount__mainContainer {
    display: flex;
    flex-direction: row;
  }
  .myAccount__sideBar {
    display: flex;
    .myAccount__sideBar__list {
      display: flex;
      flex-direction: column;
      width: 20vw;
      gap: 1px;
      .myAccount__sideBar__list__element {
        display: flex;
        justify-content: left;
        padding-left: 2vw;
        align-items: center;
        height: 5vh;
        list-style: none;
        background-color: white;
        font-weight: 600;
      }
      .myAccount__sideBar__list__element:hover {
        color: red;
        cursor: pointer;
      }
      .disconnect {
        margin-top: 2vh;
        background-color: black;
        color: white;
      }
      .disconnect:hover {
        color: white;
        background-color: red;
      }
      a {
        all: unset;
      }
    }
  }
  .myAccount__main {
    justify-content: left;
    margin-left: 2vw;

    .myAccount__main__article {
      display: flex;
      flex-direction: column;
      justify-content: left;
      padding: 2vw;
      width: 30vw;
      background-color: white;
      .button__countainer {
        display: flex;
        justify-content: space-around;
      }
      .myAccount {
        background-color: yellow;
      }
    }
  }
  .myAccount__button {
    background-color: black;
    color: white;
    width: 80%;
    height: 50px;
  }
}
