.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-top: solid 1px rgb(243, 241, 241);
  margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer img {
  width: 50px;
}

.timer {
  background: #fae7c0;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
