/* Style the form */
.form {
  width: 80%; /* Adjust the width of the form as needed */
  max-width: 400px; /* Set a maximum width if necessary */
  padding: 20px;
  box-sizing: border-box;
  border-image: url(https://luttje.github.io/css-pokemon-gameboy/styles/images/frame-hd.png)
    42 round;
  border-width: 15px;
  border-style: solid;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
}

/* Style form elements */
.form input,
.form textarea,
.form button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.submit-text,
.label-text {
  font-size: 12px;
  font-weight: bold;
}
.h2-submit {
  font-size: 20px;
  text-align: center;
  margin: 150px 0 50px;
  color: aliceblue;
  text-shadow:
    2px 0 #0000009a,
    -3px 0 #0000009a,
    0 3px #0000009a,
    0 -3px #0000009a,
    3px 3px #0000009a,
    -1px -1px #0000009a,
    3px -1px #0000009a,
    -1px 1px #0000009a;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-submit {
  width: 100%;
  padding: 9px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  display: block;
  margin: 0 auto;
  text-align-last: center;
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 9px;
  border: 1px solid rgb(10, 7, 7);
  border-radius: 5px;
}

button {
  margin-top: 20px;
  border: 1px solid rgb(10, 7, 7);
  border-radius: 5px;
  background-color: #e2e2e2;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #ee1a1a;
  color: white;
}
