@import "../../variables.scss";

.nav {
  width: 100%;
}
.HomePage__button {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 10em;

  .HomePage__button__button {
    background-color: black;
    color: white;
    position: absolute;
    left: 73%;
    bottom: 94%;
    font-size: 8px;
    height: 3%;
    width: 5%;
  }
}
.card1 {
  width: 100%;
}
.incontournables {
  width: 100%;
}

.boxButton {
  display: flex;
  justify-content: center;
  list-style: none;
  height: 6%;
  margin-right: 28px;
}
.button {
  background-color: black;
  border: none;
  height: 40px;
  width: 222px;
  color: white;
  font-size: 10px;
  margin-right: 16px;
  font-family: $fontBold;
}
