@import "../../variables.scss";

.nav {
  width: 100%;
}

.HomePage__button__button {
  position: absolute;
  left: 73%;
  bottom: 93%;
  font-size: 8px;
  background-color: black;
  color: white;
  border: none;
  padding: 1em;
  border-radius: 5px;
}

.card1 {
  width: 100%;
}
.incontournables {
  width: 100%;
}

.boxButton {
  display: flex;
  justify-content: center;
  list-style: none;
  height: 6%;
  margin-right: 28px;
}
.button {
  background-color: black;
  border: none;
  height: 46px;
  width: 255px;
  color: white;
  font-size: 10px;
  margin-right: 16px;
  font-family: $fontBold;
}
.button:hover {
  background-color: crimson;
}
.HomePage__button__button:hover {
  background-color: crimson;
}
