.form{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    justify-content: center;
}

.title{
    color: var(--text-color);
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.input{
    width: 200px;
   margin: 0 auto;
   padding: 0.5rem;
   background-color: var(--light-background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
}

.button {
    font-size: 0.8rem;
    background-color: var(--dark-background-color);
    color: var(--text-color);
    border-radius: 0.3rem;
    padding: 0.5rem;
    width : 80px;
    margin: 0 auto;
    border: 1px solid var(--text-color);
}