.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color:var(--light-background-color);
    border-radius: 0.6rem;
    border: 2px solid var(--dark-background-color);
    padding: 1rem;
    padding-bottom: 2rem;
    line-height:1.5;
    font-size: 0.9rem;

}

h3{
    margin-bottom: 0.6rem;
    text-overflow: ellipsis;
}

@media screen and (min-width : 768px) {
    .container{
        width: 350px;
        flex-shrink: 1;
        flex-grow:1;
        flex-basis: 300px;
        max-width: 400px;      
}

    .container:hover{
        box-shadow: 1px 1px 3px var(--text-color);
   
}
}