.select-type {
  background-color: aliceblue;
  border: none;
  margin-bottom: 70px;
}

@media (max-width: 790px) {
  .container {
    display: grid;
    grid-template-columns: 230px 230px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
  }
}

@media (min-width: 791px) and (max-width: 1350px) {
  .container {
    display: grid;
    grid-template-columns: 230px 230px 230px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
  }
}
@media (min-width: 1351px) {
  .container {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px 230px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
  }
}
