@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  overflow-x: hidden;
}

body {
  background-image: url("./src/assets/pink.png");
  font-family: "Montserrat", sans-serif;
}

:root {
  --text-color: #908d8d;
  --light-background-color: #f5f5f5;
  --dark-background-color: #e2dada;
}
