@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rock+Salt&display=swap");

body {
  font-family: Montserrat;
  height: 100vh;

  ul,
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: rgb(233, 232, 232);
  }

  .App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.app_main {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: 100%;
}
}
