* {
  box-sizing: border-box;
}
#root {
  width: 100%;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #f1f2f2;
}
