.about-page {
  display: flex;
  margin-top: 10em;
  align-items: center;
  justify-content: center;
}

.about-desc {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-image: url(https://luttje.github.io/css-pokemon-gameboy/styles/images/frame-hd.png)
    42 round;
  border-width: 15px;
  border-style: solid;
  width: 30em;
  height: 20em;
  padding: 1rem;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);

  animation-duration: 0.7s;
  animation-name: animate-fade;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

.about-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seye {
  width: 150px;
  margin-bottom: 20px;
}

.h1-about {
  font-size: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 500px;
  overflow: hidden;
  border-right: 0.15em solid rgba(14, 14, 14, 0);
  white-space: nowrap;
  margin: 0 auto;
  animation:
    typing 4.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.p-about {
  margin-top: 50px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
