name: deploy-front

on:
  push:
    branches: [master]

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: AlexxNB/caprover-action@v1
        with:
          server: "${{ secrets.CAPROVER_SERVER }}"
          password: "${{ secrets.CAPROVER_PASSWORD }}"
          appname: "${{ secrets.CAPROVER_FRONT_APPNAME }}"
          branch: master
